# Créer une app sur https://www.strava.com/settings/api
# Mettre "localhost" comme domaine autorisé
# Callback URL : http://localhost:5173/strava/callback

VITE_STRAVA_CLIENT_ID=VOTRE_CLIENT_ID
VITE_STRAVA_CLIENT_SECRET=VOTRE_CLIENT_SECRET
VITE_STRAVA_REDIRECT_URI=http://localhost:5173/strava/callback
